/cg3.pc
/cmake_install.cmake
/CMakeCache.txt
/CMakeFiles
Makefile
/src/cg-comp
/src/cg-conv
/src/cg-mwesplit
/src/cg-proc
/src/cg-relabel
/src/CMakeFiles
/src/libcg3.1.dylib
/src/libcg3.dylib
/src/test_libcg3
/src/vislcg3
/CTestTestfile.cmake
/scripts/cg3-autobin.pl
/src/cmake_install.cmake
/src/CTestTestfile.cmake
/install_manifest.txt
