/cg3.pc
/cmake_install.cmake
/CMakeCache.txt
/CMakeFiles
Makefile
/src/cg-annotate
/src/cg-comp
/src/cg-conv
/src/cg-merge-annotations
/src/cg-mwesplit
/src/cg-proc
/src/cg-relabel
/src/CMakeFiles
/src/libcg3.1.dylib
/src/libcg3.dylib
/src/test_libcg3
/src/vislcg3
/CTestTestfile.cmake
/scripts/cg3-autobin.pl
/src/cmake_install.cmake
/src/CTestTestfile.cmake
/install_manifest.txt
.ccls-cache/
*.so*
*~
*.bak
/test/**/diff*.txt
/test/**/output*.txt
/test/**/untraced*.txt
/test/**/std*.txt
/test/**/*.out.cg3
/test/**/*.cg3b
/test/**/*.bin

__pycache__
/python/cg3.py
/python/constraint_grammar_wrap.cpp
/python/constraint_grammar.i
/python/constraint_grammar.py
/python/setup.py
/python/build*
*.egg-info/
*.egg
/python/CMakeCache.txt
/python/CMakeFiles
/python/cmake_install.cmake
/python/CTestTestfile.cmake
/python/install_manifest.txt
